.posts__container {
}
.posts__container img {
  height: 100%;
  width: 100%;
  justify-self: 0 auto;
  border-radius: 0.2rem;
}
.texts__container {
  width: 90%;
  margin: 0 auto;
}
.texts__container h1 {
  text-align: justify;
}
.texts__container p {
  font-size: 1.3rem;
  text-align: justify;
  color: rgb(78, 78, 78);
}
.line {
  width: 90%;
  height: 50px;
  border-bottom: 1.5px solid rgb(206, 206, 206);
  margin: 0 auto;
}
