.container {
  position: absolute;
  width: 50%;
  left: 25%;
  height: 100%;
}
.bg__image {
  background-image: url("/Images/header_bg.png");
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  filter: blur(10px);
  -webkit-filter: blur(3px);
}
.bg__text {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: fit-content;
  padding: 20px;
  text-align: center;
  font-size: 2rem;
}
.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.feed {
  margin-top: 1rem;
}

.post__header {
  display: flex;
  background-color: #333;
}

.post__header p {
  color: white;
  margin-left: 1rem;
  font-weight: bold;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    left: 0;
    right: 0;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
    left: 0;
    right: 0;
  }
}
