.container {
  position: absolute;
  width: 50%;
  left: 25%;
  height: 100%;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.feed {
  margin-top: 3rem;
}

.post__header {
  display: flex;
  background-color: #333;
}

.post__header p {
  color: white;
  margin-left: 1rem;
  font-weight: bold;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    left: 0;
    right: 0;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
    left: 0;
    right: 0;
  }
}
